<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--앱이 외부 저장소(External Storage)에 있는 파일을 읽기 위해 필요한 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--앱 인터넷 사용 권한-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAVVY_Android.Splash"
        tools:targetApi="31">
        <activity
            android:name=".init.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".myPage.activity.ProfileSettingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".init.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".init.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".plan.activity.PlanMakeActivity"
            android:exported="false" />
        <activity
            android:name=".utils.memo.MemoActivity"
            android:exported="false" />
        <activity
            android:name=".utils.place.PlaceAddActivity"
            android:exported="false" />
        <activity
            android:name=".plan.activity.PlanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".plan.activity.PlanModifyActivity"
            android:exported="false" />
        <activity
            android:name=".utils.memo.MemoModifyActivity"
            android:exported="false" />
        <activity
            android:name=".diary.activity.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".diary.activity.DiaryMake1Activity"
            android:exported="false" />
        <activity
            android:name=".diary.activity.DiaryMake2Activity"
            android:exported="false" />
        <activity
            android:name=".diary.activity.DiaryMake3Activity"
            android:exported="false" />
        <activity
            android:name=".diary.activity.DiaryMake4Activity"
            android:exported="false" />

    </application>

</manifest>